* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


body {
   background-image: url('https://images.unsplash.com/photo-1670993746406-a775d2121e28?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D');
   /* need to workshop backgroun - feels too much compared to homescreen*/
   background-repeat: no-repeat;
   background-size: cover;
    color: #ededed;
    margin: 0;
    padding: 0;
}



}
/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%; /* Padding for header */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%
}

.logo {
    font-size: 25px;
    color: #f0e2c0;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #f0e2c0; /* change */
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
    .navbar a.active {
    color: #dec2cb;
}
/* Basically copying header from index (above) */

.Facts {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* center horizontal */
    text-align: center;

}
    .facts-content{
    max-width: 600px;
    margin: auto;
    }

    .facts-content h1 {
    font-family: 'Kode Mono';
    font-size: 3vw;
    font-weight: 600;
    color: #f0e2c0;
    text-shadow: 2px 2px 4px #000000;
    }



.about-me p {
    font-size: 6vw;
    margin-top: 20px;
    font-weight: 300;
    max-width: 600px;
    text-shadow: 2px 2px 4px #000000;
}



