* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


body {
   background: #a18e86;

   /* need to workshop background -- to simplisitc?? copying home too much*/
   background-repeat: no-repeat;
   background-size: cover;
    color: #ededed;
    margin: 0;
    padding: 0;
}
img {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    max-width: 80%; /* Adjust the maximum width as per your preference */
    max-height: 20vh; /* Adjust the maximum height as per your preference */
    border-radius: 8px; /* Optional: Add border-radius for a rounded image */
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%; /* Padding for header */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%
}

.logo {
    font-size: 25px;
    color: #f0e2c0;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #f0e2c0; /* change */
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
    .navbar a.active {
    color: #dec2cb;
}
/* Basically copying header from index (above) */

.Facts {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* center horizontal */
    text-align: center;

}
    .facts-content{
    max-width: 600px;
    margin: auto;
    }

    .facts-content h1 {
    font-family: 'Kode Mono';
    font-size: 3vw;
    font-weight: 600;
    color: #f0e2c0;
    text-shadow: 2px 2px 4px #000000;
    }



.about-me p {
    font-size: 6vw;
    margin-top: 20px;
    font-weight: 300;
    max-width: 600px;
    text-shadow: 2px 2px 4px #000000;
}

/* Add media query for screens smaller than 600px */
@media (max-width: 600px) {
    .header {
        padding: 20px 5%;
    }

    .logo {
        font-size: 18px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 15px;
    }

    .facts-content h1 {
        font-size: 32px;
    }

    .about-me p {
        font-size: 12px;
    }
}


