@import url('https://fonts.google.com/specimen/Kode+Mono');

* {
    /*font-family: 'Roboto', Arial, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #a18e86;
    color: #ededed;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%; /* Padding for header */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%
}

.logo {
    font-size: 25px;
    color: #f0e2c0;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #f0e2c0; /* change */
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
    .navbar a.active {
    color: #dec2cb;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
    .home-content {
        max-width: 600px;
    }
    .home-content h1 {
        font-size: 56px;
        font-weight: 600;
    }
    .home-content h3 {

        color: #4b3832;

    }
    .home-content p {
        font-size: 16px;
         margin-bottom: 20px
    }
    .home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #e4f3f0; /* text color */
    font-weight: bold; /* Adjusting  font weight */
    border: 2px solid #854442; /* border color */
    overflow: hidden;
    transition: color 0.3s ease-in-out; /* Smooth transition for text color change */
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #854442; /* background color */
    z-index: -1;
    transition: width 0.5s, background 0.3s; /* transitions for width and background color */
}

.btn-box a:hover {
    color: #dec2cb; /* Text color change on hover */
}

.btn-box a:hover::before {
    width: 100%;
    background: #2f0000;
}

.socials {
    position: absolute;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;

}

.socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #4b3832;
    border-radius: 50%;
    font-size: 20px;
    color: #4b3832;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #dec2cb;
    z-index: -1;
    transition: 0.5s;

}
.socials a:hover::before {
    width: 100%;
}

/* Add media query for screens smaller than 600px */
@media (max-width: 600px) {
    .header {
        padding: 20px 5%;
    }

    .logo {
        font-size: 18px;
    }

    .navbar a {
        font-size: 12px;
        margin-left: 15px;
    }

    .home {
        padding: 0 5%;
    }

    .home-content h1 {
        font-size: 32px;
    }

    .home-content p {
        font-size: 12px;
    }

    .btn-box a {
        padding: 8px 15px;
    }

    .socials {
        bottom: 10px;
    }
}





